body{
    background-image: url(./er.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#general{
    top: 8%;
    left: 3%;
    border: solid 2px red;
    position: absolute;
    width: 95%;
    height: 95%;
}

#titulo{
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 25px;
    position: absolute;
    left: 48%;
    top: -1%;
    background-color: rgb(242, 138, 179);
    
}
#p{
    margin-left: 20px;
}
#nombre{
    left: 3%;
    top: 0%;
    margin-left: 20px;
    width: 20%;
    height: 17%;
    position: absolute;
    border: 2px solid blue;
    background: linear-gradient(rgba(241,181,243, 70%), rgba(236, 195, 243, 95));
}
#informacion{
    left: 3%;
    position: absolute;
    top: 16%;
    margin-top: 20px;
    margin-left: 20px;
    width: 20%;
    height: 45%;
    border: 2px solid blue;
    background: linear-gradient(rgba(241,181,243, 70%), rgba(236, 195, 243, 95));
}
#sinopsis{
    left: 3%;
    top: 63%;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    width: 30%;
    height: 30%;
    border: 2px solid blue;
    background: linear-gradient(rgba(241,181,243, 70%), rgba(236, 195, 243, 95));
}

#imagen{
    position: absolute;
    border: 2px solid blue;
    width: 20%;
    height: 40%;
    right: 15%;
    top: 5%;
}

#trailer{
    border: 2px solid blue; 
    position: absolute;
    width: 30%;
    height: 30%;
    right: 15%;
    top: 60%;
}