body{
    background-image: url(./er.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#general{
    left: 7%;
    border: solid 2px red;
    position: relative;
    width: 85%;
    height: 85%;
}

#titulo{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 40px;
    border: solid 2px blue;
    position: relative;

}
#p{
    margin-left: 20px;
}
#nombre{
    left: 3%;
    top: 5%;
    margin-left: 20px;
    width: 25%;
    height: 20%;
    position: absolute;
    border: 2px solid blue;
    background: linear-gradient(rgba(241,181,243, 70%), rgba(236, 195, 243, 95));
}
#informacion{
    left: 3%;
    position: absolute;
    top: 30%;
    margin-top: 20px;
    margin-left: 20px;
    width: 25%;
    height: 20%;
    border: 2px solid blue;
    background: linear-gradient(rgba(241,181,243, 70%), rgba(236, 195, 243, 95));
}
#sinopsis{
    left: 3%;
    top: 60%;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    width: 25%;
    height: 20%;
    border: 2px solid blue;
    background: linear-gradient(rgba(241,181,243, 70%), rgba(236, 195, 243, 95));
}

#imagen{
    position: absolute;
    border: 2px solid blue;
    width: 20%;
    height: 40%;
    right: 15%;
    top: 5%;
}

#trailer{
    border: 2px solid blue; 
    position: absolute;
    width: 30%;
    height: 30%;
    right: 15%;
    top: 60%;
}